#inside-contact{
    display:flex;
    flex-direction:row;
  }
  #contact h1{
    padding-top: 100px;
    margin: auto;
    font-size: 70px;
    color:rgba(22,125,200,1);
  }
  #contact-left{
    flex-basis:35%;
    padding-left: 150px;
    padding-top: 100px;
    color: rgba(22,125,200,1);;
  }
  #contact-right{
    flex-basis:60%;
    padding-top:100px
  }
  #contact-left p{
    margin-top:10px;
    font-size: xx-large;
  }
  #contact-left img{
    width:200px;
    height:100px
  }
  
  #contact-right form{
    width:80%;
    margin: auto;
    color: rgba(22,125,200,1);;
  }
  
  form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    padding:10px;
    margin:10px;
    color:rgba(22,125,200,1);
    font-size: 18px;
    border-radius:6px ;
  }
  
  form .btn{
    padding:14px 60px;
    font-size: 12px;
    margin-top:15px;
    cursor:pointer;
    border-radius: 4px;
    margin-left: 10px;
    border:none
  }
  #contact-part{
    width:80%;
    margin:auto;
    margin-top:20px
  }
  #contact{
    background-color:  rgb(12, 12, 14);
    height:1000px;
    text-align: center;
  }
  .btn{
    padding: 15px 32px;
    background-color: rgba(22,125,200,1);
    /* text-decoration: none; */
    color: white;
    border-radius: 10px;
    text-decoration: none;
  }
  .btn:hover{
    transform: scale(0.8);
    }
  #msg{
    color: aliceblue;
  font-size: medium;
  padding-top: 60px;
  }
  /* nav part here */
  #nav{
    width: 100%;
    height: 90px;
    /* border: 3px solid black; */
    display: flex;
    background-color: rgb(12, 12, 14);
    
}

a{
    color: rgb(242, 246, 242);
    background-color: transparent;
    text-decoration: none;
    font-size: medium;
}
.logo{
  width: 10%;
  height: 90px;
  /* border: 2px solid black; */
  margin-left: 50px;
  cursor: pointer;
}
.logo >.logoimg img{
    width: 95%;
    height: 70px;
}
.navele{
    margin: auto;
    width: 30%;
    height: 90px;
    padding-left: 150px;
    margin-left:180px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;

}
.navele{
   transition: transform .2s;
   margin: 0 auto;
}
.navele:hover {
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.3); 
}
.navtxt{
    text-decoration: none;
    font-size: 15px;
   }
  .navtxt:hover{
    color:royalblue
  } 


.bar{
    width: 270px;
    height: 60px;
    /* border: 2px solid blue; */
    margin-right: 85px;
    align-items: center;
    margin-top: 15px;
    display: flex;
    font-size: medium;
}



  .login{
    padding: 15px 32px;
    background-color: rgba(22,125,200,1);
    /* text-decoration: none; */
    color: white;
    border-radius: 10px;
    text-decoration: none;
  }
  .login:hover{
    transform: scale(0.8);
    }

.signup{
    padding: 15px 32px;
    background-color:rgba(22,125,200,1);
    /* text-decoration: none; */
    color: white;
    border-radius: 10px;
    text-decoration: none;
   }
   .signup:hover{
    transform: scale(0.8);
    }
    /* media queries */

    @media only screen and (max-width: 600px) {
      #nav{
        width:600px;
        height: 600px;
        /* border: 3px solid black; */
        display: flex;
        flex-direction: column;
        background-color: rgb(12, 12, 14);
        
    }
    
    #nav a{
        color: rgb(242, 246, 242);
        background-color: transparent;
        text-decoration: none;
        font-size: small;
    }
    .logo{
      width: 10%;
      height: 90px;
      /* border: 2px solid black; */
      margin-left: 50px;
      cursor: pointer;
    }
    .logo >.logoimg img{
        width: 95%;
        height: 70px;
    }
    .navele{
       
        width: 30%;
        height: 250px;
        padding-left: 100px;
        padding-right:0px;
        align-items:flex-start;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: none;
        z-index: 2;
    
    }
    .navele{
       transition: transform .2s;
       margin: auto;
    }
    .navele:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.3); 
    }
    .navtxt{
        text-decoration: none;
        font-size: 10px;
        margin: auto;
    
       }
      .navtxt:hover{
        color:royalblue
      } 
    
    
    .bar{
        width: 270px;
        height: 260px;
        /* border: 2px solid blue; */
        margin-right: 0px;
      margin-top: 0px;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    #butt{
      display: flex;
      flex-direction: column;
      text-align: center;
      
    }
    
    
    
      .login{
        padding: 15px 32px;
        background-color: rgba(22,125,200,1);
        /* text-decoration: none; */
        color: white;
        border-radius: 10px;
        margin-top: 10px;
        text-decoration: none;
        margin-left:300px
        
      }
      .login:hover{
        transform: scale(0.8);
        }
    
    .signup{
        padding: 15px 32px;
        /* width:120px; */
        background-color:rgba(22,125,200,1);
        /* text-decoration: none; */
        color: white;
        border-radius: 10px;
        text-decoration: none;
        margin-top: 20px;
        margin-left:300px;
       
       }
       .signup a{
        font-size: 20px;
       }
       .signup:hover{
        transform: scale(0.8);
        }
        /* nav complete here */
        #inside-contact{
          width:600px;
          display:flex;
          flex-direction:column;
        }
        #contact{
          width:600px
        }
        #contact h1{
          padding-top: 100px;
          margin: auto;
          font-size: 30px;
          color:rgba(22,125,200,1);
        }
        #contact-left{
          width: 600px;
          flex-basis:35%;
          padding-left: 0px;
          padding-top: 0px;
          color: rgba(22,125,200,1);;
        }
        #contact-right{
          flex-basis:60%;
          padding-top:100px;

        }
        form input,form textarea{
          width:200px;
          border:0;
          outline:none;
          padding:10px;
          margin:10px;
          color:rgba(22,125,200,1);
          font-size: 18px;
          border-radius:6px ;
        }
         
  #contact-right form{
    width:50%;
    margin: auto;
    color: rgba(22,125,200,1);;
  }
  .logo{
    width: 20%;
    height: 90px;
    /* border: 2px solid black; */
    /* margin-right: 20px; */
    cursor: pointer;
    margin: auto;
  }
  .logo >.logoimg img{
      width:100px;
      height: 70px;
      margin-right: 150px;
      
  }
  / */
        

      


   
    }
  